
@media screen and (min-width: 1300px)
    .container
        max-width: 1272px

@media screen and (max-width: 1299px) 
    header
        .container
            .header
                .header__nav
                    display: none
                    ul.header__list-nav
                        flex-direction: column
                        align-items: flex-start
                        li.header__item
                            .header__link
                                padding: 0 5px
@media screen and (min-width: 1200px) and (max-width: 1370px)
    .advantages__list
        .slick-dots
            padding-left: 6vw!important
@media (min-width: 700px) and (max-width: 767px)
    .container
        max-width: 680px    
        .reviews
            .container
                .row
                    .instructor__list
                        max-width: 680px!important
    .new__slider
        .container
            .row
                .newpost-slider
                    max-width: 680px!important
    .new__posts
        .container
            .row
                .new__list
                    max-width: 680px!important
@media (min-width: 577px) and (max-width: 669px)
    .main__instructor
        .multimedia
            .container
                .row
                    .instructor__list
                        .instructor__item
                            &.instructor-big
                                flex-basis: 100%!important
                            &.instructor-small
                                flex-basis: 100%!important