@import vars
@import fonts
@import libs
@import media

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
a
	color: #fff
	&:hover
		color: #fff
		text-decoration: none
ul
	padding: 0

li
	list-style: none
img
	object-fit: cover

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Proxima Nova', sans-serif
	overflow-x: hidden
	color: $text

.container
	padding-right: $gutter * .75
	padding-left: $gutter * .75
	+media-breakpoint-down(xs)
		margin-left: auto
		margin-right: auto

.btn
	background: $accent
	font-size: 14px
	line-height: 34px
	padding: 15px 51px
	text-transform: uppercase
	color: #FFFFFF
	border-radius: 0
	+media-breakpoint-down(sm)
		padding: 10px 45px
	&:after
		content: url(../img/_src/arrow.svg)
		padding-left: 12px
	&:hover
		color: #FFFFFF
		text-decoration: none
.title
	font-weight: bold
	font-size: 44px
	line-height: 48px
	color: $accentTwo
	margin-bottom: 60px
	+media-breakpoint-down(xs)
		padding: 0 20px
.container__breadcrumb
	padding-top: 65px
	.nav__breadcrumb
		z-index: 999
		.breadcrumb
			background-color: transparent
			font-size: 16px
			line-height: 56px
			padding: 15px 15px 15px 0px
			.breadcrumb-item
				a
					color: #999EA7
				&:before
					color: #999EA7
					.breadcrumb-item.active
						color: #999EA7
//home page

header
	.container
		position: relative
		.header
			display: flex
			justify-content: space-between
			align-items: center
			padding: 25px 0px
			.header__logo
				img
					+media-breakpoint-down(xs)
						max-width: 140px
			.header__nav
				position: relative
				z-index: 30
				.header__list-nav
					display: flex
					justify-content: space-between
					align-items: center
					margin: 0
					&.is-active
						height: auto
						display: flex
						transition: .3s
						z-index: 1000
					.header__item
						margin: 0
						.header__link
							font-size: 16px
							line-height: 34px
							text-align: center
							color: $text
							text-decoration: none
							padding: 0 23px
							transition: .3s
							&.is-active
								color: $accent
								transition: .3s
							&:hover
								color: $accent
								transition: .3s
			.header__function
				display: flex
				justify-content: space-between
				align-items: center
				.header__request
					margin-right: 50px
					+media-breakpoint-down(md)
						display: none
				.header__profile
					margin-right: 74px
					+media-breakpoint-down(xs)
						margin-right: 50px
		.burger-menu
			position: absolute
			top: 35px
			right: 0px
			+media-breakpoint-down(md)
				top: 23px
			+media-breakpoint-down(xs)
				top: 18px
			.burger-menu__button
				display: block
				position: relative
				width: 45px
				height: 45px
				border-radius: 10px
				background: transparent
				cursor: pointer
				z-index: 1000
				.burger-menu__lines
					position: absolute
					width: 22px
					height: 2px
					top: 47%
					right: 50%
					transform: translate(50%)
					background-color: #142C60
					&::after
						content: ""
						position: absolute
						width: 22px
						height: 2px
						background-color: #142C60
						top: -8.5px
					&::before
						content: ""
						position: absolute
						width: 15px
						height: 2px
						background-color: #142C60
						top: 8.5px
			&.is-active
				.burger-menu__lines
					background-color: transparent
					&:before
						top: 0
						transform: rotate(45deg)
					&:after
						top: 0
						transform: rotate(-45deg)
.carousel__baner
	.carousel
		.carousel-inner
			.carousel-item
				position: relative
				.carousel-img
					width: 100%
					object-fit: cover
					+media-breakpoint-down(md)
						min-height: 450px
				.container
					.carousel-caption
						text-align: center
						padding: 25px
						left: 5%
						right: 5%
						bottom: 50%
						transform: translateY(50%)
						.carousel-title
							font-size: 80px
							line-height: 100px
							font-weight: 600
							text-align: center
							color: #FFFFFF
							+media-breakpoint-down(sm)
								font-size: 48px
								line-height: 52px
						.carousel-text
							font-size: 24px
							line-height: 34px
							color: #FFFFFF
							margin-bottom: 65px
							+media-breakpoint-down(sm)
								font-size: 18px
								line-height: 22px
						.carousel-link
.order__home
	background-image: url(../img/_src/orderBg.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	padding: 100px 0
	+media-breakpoint-down(xs)
		background-position: center left 60%
	.container
		.order__caption
			max-width: 600px
			+media-breakpoint-down(xs)
				font-size: 36px
				line-height: 44px
			.title
				color: #fff
				font-size: 44px
				line-height: 54px
				margin-bottom: 36px
				+media-breakpoint-down(xs)
					font-size: 42px
					line-height: 46px
			.order__btn
				+media-breakpoint-down(xs)
					margin-left: 20px
.seti__home
	padding: 50px 0px
	background: #F7F7F7
	.container
		.row
			justify-content: space-between
			align-items: center
			.seti__list
				display: flex
				align-items: flex-start
				justify-content: space-between
				margin-bottom: 50px
				+media-breakpoint-down(xs)
					margin-left: 20px
				.seti__item
					display: flex
					align-items: center
					justify-content: center
					padding-right: 28px
					+media-breakpoint-down(xs)
						padding-right: 15px
					.seti__link
						justify-content: center
						align-items: center
						display: inherit
						border: 1px solid #E5E7E8
						min-width: 54px
						min-height: 54px
						transition: .3s
						&:hover
							background-color: $accent
							transition: .3s
						.seti__icon
.fon
	padding: 0 0 255px
	background: #F7F7F7
.contacts
	margin-top: -253px
	padding-bottom: 120px
	+media-breakpoint-down(md)
		padding-bottom: 580px
	+media-breakpoint-down(sm)
		padding-bottom: 540px
	.container
		.contacts__map
			background-image: url(../img/_src/map.jpg)
			background-position: center
			background-repeat: no-repeat
			background-size: cover
			padding-top: 144px
			position: relative
			min-height: 604px
			+media-breakpoint-down(md)
				min-height: 440px
			+media-breakpoint-down(sm)
				min-height: 360px
			&:after
				position: absolute
				content: url(../img/_src/icon-map.svg)
				left: 48%
				top: 40%
			.contacts__caption
				position: absolute
				bottom: 0
				left: 0
				padding: 70px 50px
				max-width: 410px
				background: $accentTwo
				color: #fff
				+media-breakpoint-down(md)
					bottom: -436px
					width: 100%
					max-width: 100%
				+media-breakpoint-down(sm)
					bottom: -396px
					padding: 50px 40px
				.subTitle
					font-weight: 600
					font-size: 18px
					line-height: 24px
					text-transform: uppercase
				.contacts__list
					.contacts__item
						.contacts__address
							font-weight: normal
							font-size: 18px
							line-height: 24px
						.contacts__phone
							font-size: 16px
							line-height: 36px
							padding-left: 30px
							color: #fff
							position: relative
							transition: .3s
							&:hover
								color: #E72D2D
								transition: .3s
							&:before
								content: url(../img/_src/phone.svg)
								position: absolute
								left: 0
								top: -5px
						.contacts__info
							font-weight: normal
							font-size: 18px
							line-height: 24px
//insructors page
.insructorsPage
	.carousel
		.carousel-inner
			.container__breadcrumb
				position: relative
				.nav__breadcrumb
					position: absolute
					top: 60px
					left: 0
					z-index: 999
					.breadcrumb
						background-color: transparent
						.breadcrumb-item
							a
								color: #fff
							&:before
								color: #fff
						.breadcrumb-item.active
							color: #fff
			.carousel-item
				position: relative
				.carousel-img
					width: 100%
					object-fit: cover
				.container
					.carousel-caption
						text-align: left
						padding: 25px
						left: 2%
						right: 5%
						bottom: 50%
						transform: translateY(50%)
						.carousel-title
							font-size: 54px
							line-height: 100px
							font-weight: 600
							text-align: left
							color: #FFFFFF
						.carousel-text
							font-size: 24px
							line-height: 34px
							color: #FFFFFF
							margin-bottom: 65px
						.carousel-link

.insructors
	background: #F7F7F7
	padding: 115px 0 120px
	.container
		.insructors__list
			display: grid
			grid-template-columns: repeat(3, 1fr)
			grid-gap: $gutter * 1.25
			.insructors__item
				background: #fff
				margin-bottom: 31px
				.insructors__img
					width: 100%
				.insructors__profile
					padding: 32px 0 40px 70px
					border-bottom: 1px solid rgba(153, 158, 167, 0.2)
					.insructors__subTitle
						position: relative
						font-size: 24px
						line-height: 54px
						&:before
							content: url(../img/_src/square.svg)
							position: absolute
							left: -20px
							top: -2px
					.insructors__info
						display: flex
						align-items: center
						justify-content: flex-start
						.insructors__subItem
							display: flex
							flex-direction: column
							align-items: flex-start
							justify-content: flex-start
							padding-right: 60px
							.insructors__infoTitle
								font-size: 16px
								line-height: 24px
							.insructors__counter
								font-weight: 600
								font-size: 16px
								line-height: 24px
								color: $accentTwo
				.insructors__btnWrap
					text-align: center
					.insructors__btn
						text-align: center
						background: #fff
						font-size: 14px
						line-height: 34px
						padding: 20px 0
						text-transform: uppercase
						color: $accentTwo
						display: inline-block
						&:after
							content: url(../img/_src/arrowblack.svg)
							padding-left: 12px
						&:hover
							text-decoration: none
//Vacancies page
.main__vacancies
	background-color: #F7F7F7
	.vacancies__banner
		background-image: url(../img/_src/vacancies.jpg)
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		position: relative
		min-height: 736px
		.container__breadcrumb
			.row
				.nav__breadcrumb
					a
						color: #fff
					.breadcrumb-item
						color: #fff
						opacity: 0.8
						&:before
							color: #fff
							opacity: 0.8
		.vacancies__caption
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start
			max-width: 590px
			.title
				color: #fff
				font-size: 54px
				line-height: 100px
				margin-bottom: 20px
			.text
				font-size: 24px
				line-height: 34px
				color: #fff
				margin-bottom: 130px
			.vacancies__btn
				display: inline-block
				.vacancies__counter
					font-size: 14px
					line-height: 34px
					text-transform: uppercase
					color: rgba(255, 255, 255, 0.4)
					padding-left: 7px
	.vacancies
		padding: 120px 0
		.container
			.row
				.panel-group
					width: 100%
					.panel
						background-color: #fff
						padding: 50px
						border-bottom: 1px solid #E5E7E8
						.panel-heading
							display: flex
							flex-direction: column
							align-items: flex-start
							justify-content: space-between
							.panel-title
								font-weight: 600
								font-size: 24px
								line-height: 36px
								padding-left: 21px
								position: relative
								&:after
									content: url(../img/_src/square.svg)
									position: absolute
									left: 0px
									top: -2px
							.panel-description
								font-weight: 300
								font-size: 18px
								line-height: 28px
								color: #999EA7
								padding-left: 21px
								margin-bottom: 40px
							.panel-collapse
								width: 100%
								.panel-body
									display: flex
									align-items: flex-start
									justify-content: space-between
									padding: 20px 20px 50px
									.vacancies__item
										.vacancies__subTitle
											font-weight: bold
											font-size: 18px
											line-height: 28px
											color: $accentTwo
										.vacancies__list
											.vacancies__point
												font-size: 18px
												line-height: 28px
												margin-bottom: 5px
												color: $accentTwo
							.vacancies__btnWrap
								display: flex
								align-items: center
								justify-content: space-between
								width: 100%
								.panel-link
								.vacancies__btn
									font-weight: bold
									font-size: 14px
									line-height: 34px
									text-transform: uppercase
									color: $accent

//FAQ page
.main__faq
	background-color: #F7F7F7	
.faq
	padding-bottom: 120px
	.panel-group
		width: 100%
		.panel
			background-color: #fff
			padding: 50px
			border-bottom: 1px solid #E5E7E8
			.panel-heading
				.panel-title
					.faq__btn
						font-weight: bold
						display: flex
						align-items: center
						justify-content: flex-start
						color: $accent
						.faq__number
							font-weight: 600
							font-size: 80px
							line-height: 1
							color: $accent
							min-width: 96px
						.faq__title
							padding-left: 50px
						.faq__iconWrap
							position: relative
							background: #E72D2D
							padding: 15px 32px
							min-height: 64px
							margin-left: auto
							.faq__icon
								position: absolute
								width: 12.5px
								height: 1.4px
								top: 47%
								right: 50%
								-webkit-transform: translate(50%)
								-ms-transform: translate(50%)
								transform: translate(50%)
								background-color: #fff
								&:after
									display: none
						&.collapsed
							color: $accentTwo
							.faq__number
								color: #F7F7F7
							.faq__iconWrap
								.faq__icon
									&:after
										display: block
										content: ""
										position: absolute
										width: 12.5px
										height: 1.4px
										background-color: #fff
										top: 0px
										transform: rotate(90deg)
			.panel-collapse
				padding-left: 146px
				padding-right: 115px
				.panel-body
					padding-top: 50px
					padding-bottom: 40px
			&.is-active
				box-shadow: 0px 8px 24px rgba(55, 71, 84, 0.08)
				z-index: 99

footer
	background-color: $accentTwo
	padding-top: 75px

	.footer__nav
		display: flex
		align-items: flex-start
		justify-content: space-between
		border-bottom: 0.5px solid rgba(255, 255, 255, 0.25)
		+media-breakpoint-down(md)
			flex-wrap: wrap
		+media-breakpoint-down(xs)
			padding-left: 20px
			padding-right: 20px
		.footer__list
			display: flex
			align-items: flex-start
			justify-content: space-between
			flex-direction: column
			padding: 70px 0 0
			+media-breakpoint-down(md)
				flex-basis: 50%
				&:nth-child(even)
					align-items: flex-end
			+media-breakpoint-down(sm)
				margin-bottom: 0
				flex-basis: 100%
				&:nth-child(even)
					padding-top: 0
					align-items: flex-start
			.footer__item
				padding-bottom: 34px
				.footer__link
					font-size: 16px
					line-height: 19px
					text-transform: uppercase
					text-decoration: none
					color: #ffffff
		.law
			+media-breakpoint-down(md)
				flex-basis: 100%
				padding-top: 0px
			+media-breakpoint-down(sm)
				padding-top: 15px
			.footer__item
				.footer__link
					text-transform: unset
				.footer__sublist
					display: flex
					align-items: flex-start
					justify-content: space-between
					.footer__item
						display: flex
						align-items: center
						justify-content: center
						padding-right: 28px
						padding-top: 20px
						+media-breakpoint-down(xs)
							padding-right: 15px
						&:last-child
							padding-right: 0
						.footer__link
							justify-content: center
							align-items: center
							display: inherit
							border: 1px solid rgba(255, 255, 255, 0.25)
							min-width: 54px
							min-height: 54px
							transition: .3s
							&:hover
								background-color: $accent
								transition: .3s
	.footer__bottom
		padding: 33px 0
		display: flex
		align-items: center
		justify-content: space-between
		color: #ffffff
		opacity: 0.5
		font-size: 16px
		line-height: 19px
		+media-breakpoint-down(xs)
			font-size: 14px
			flex-direction: column
		.footer__copiryte
			+media-breakpoint-down(xs)
				padding-bottom: 15px

		a
			color: #ffffff
		+media-breakpoint-down(xs)
			padding-left: 20px
			padding-right: 20px
